body{
	background-image: url("../img/veg.gif");
	color: yellow;
	font-family: Comic Sans MS;
}

img.face{
	height:200px;
	width: 300px;
}

#food{
	color: red;
}

#game{
	color: white;
}

#sport{
	color: blue;
}