body{
	background-color: #1B435D;
	font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1{
	color: #FF895D;
}

h3 {
  color: #78BBE6;
}

p {
  color: #D5EEFF;
}

.wrapper {
  width: 30em;
  margin: 0 auto;
}

.face{
  border-radius: 25px;
  height: 10em;
  width: 10em;

}

.face, .content {
  display: inline-block;
}


.content {
  margin-left: 2em;
}
